@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500&family=Allura&family=Dosis:wght@300;400;500;700&family=El+Messiri:wght@400;600&family=Fruktur&family=Handlee&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Merienda&family=Oswald:wght@200;300;400&family=Petemoss&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,600&family=Teko:wght@300;500&family=Yellowtail&display=swap');
.App {
  background-image: url('./css/bg.jpeg');
  background-size: cover;
  background-repeat: repeat;
/*  opacity: 0.2;
transform: rotate(-180deg); */
}
